---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;
    background-color: #FFC399;
    background-image: linear-gradient(180deg, #E24E24, #FFC399;
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #E24E24;
}

.a {
	color: #A20021
}